<section id="my-account-container">
    <span id="my-account-title">OLÁ {{ user.displayName }}</span>
    <div id="my-account-items">
      <i class="icons fa-solid fa-box-open"></i> AS MINHAS COMPRAS
    </div>
    <div id="my-account-items">
      <i class="icons fa-solid fa-fingerprint"></i> DADOS PESSOAIS
    </div>
    <div id="my-account-items">
      <i class="icons fa-solid fa-credit-card"></i> MÉTODOS DE PAGAMENTO
    </div>
    <div id="my-account-items">
      <i class="icons fa-solid fa-circle-info"></i> APOIO AO CLIENTE
    </div>
    <div id="my-account-items">
      <i class="icons fa-solid fa-door-open"></i> SAIR
    </div>
</section>
