<section id="navbar">
    <p id="hello">OLÁ [NOME]  </p>
    <div id="compras">
        <div class="Icon">
            <i class="icons fa-solid fa-box-open "></i>
        </div>
        <div class="Text">
            AS MINHAS COMPRAS
        </div>
    </div>
    <div class="TextDiv">
        <div class="Icon">
            <i class="icons fa-solid fa-fingerprint"></i>
        </div>
        <div class="Text">
            DADOS PESSOAIS
        </div>
    </div>
    <div class="TextDiv">
        <div class="Icon">
            <i class="icons fa-solid fa-credit-card"></i>
        </div>
        <div class="Text">
            MÈTODOS DE PAGAMENTO
        </div>
    </div>
    <div class="TextDiv">
        <div class="Icon">
            <i class="icons fa-solid fa-circle-info"></i>
        </div>
        <div class="Text">
            APOIO AO CLIENTE
        </div>
    </div>
</section>
