<app-navbar></app-navbar>
<section id="cart" *ngIf="isLoggedIn">
  <div id="emptyCart" *ngIf="cartItems.length == 0">
    <p>Página não encontrada</p>
    <p>Lamentamos, mas esta página já não está disponível no nosso site</p>
    <a class="redirect" [routerLink]="['/']">Regressar à página principal</a>
  </div>
  <div id="cart-box" *ngIf="cartItems.length > 0">
    <div class="cart-title-row">
      <span class="cart-title">PRODUTO</span>
      <span class="cart-title">PREÇO</span>
      <span class="cart-title">QUANTIDADE</span>
      <span class="cart-title">TOTAL</span>
    </div>

    <div class="cart-item-row" *ngFor="let item of cartItems;let i = index;">
      <div class="cart-item">
        <div class="cart-item-product">
          <img class="cart-image" [src]="item.image" [alt]="item.name" />
          <div class="cart-item-info">
            <div class="cart-item-model">
              <p class="cart-item-name">{{ item.name }}</p>
              <p class="cart-item-size">Tamanho {{ item.size }}</p>
            </div>
            <button class="cart-item-remove" (click)="removeItem(item)">X Remover</button>
          </div>
        </div>

        <div class="cart-item-price-row">
          <span class="cart-item-price">{{ item.price }} €</span>
        </div>

        <div class="cart-item-quantity-row">
          <input type="number" class="cart-item-quantity-input" [(ngModel)]="item.quantity"/>
        </div>

        <div class="cart-item-total-row">
          <span class="cart-item-total">{{ calculateItemSubtotal(item.price, item.quantity) }} € </span>
        </div>
      </div>
    </div>

    <div class="cart-subtotal">
      <div class="cart-subtotal-row">
        <span class="cart-subtotal-title">Subtotal</span>
        <span class="cart-subtotal-value">{{ getSubtotal() }} €</span>
      </div>
      <button class="cart-payment">PAGAMENTO</button>
    </div>
  </div>
</section>

<section id="log-in-screen" *ngIf="!isLoggedIn">
  <p>Lamentamos, mas para ver esta página necessita de iniciar sessão</p>
  <a class="redirect" [routerLink]="['/']">Regressar à página principal</a>
</section>
