<section id="reset-password-container" *ngIf="!showWarningValid">
  <form [formGroup]="resetPasswordForm">
    <p>ALTERAR PALAVRA-PASSE</p>
    <input type="password" id="reset-password-info" placeholder="Nova palavra-passe" formControlName="password">
    <input type="password" id="reset-password-info-confirm" placeholder="Confirmar palavra-passe" formControlName="password_confirm">
    <input type="button" id="reset-password-button" value="Atualizar" (click)="updatePassword()"/>
    <span class="hideDisplay" [ngClass]="{'showWarningError invalidData': showWarningInvalid}">Dados inválidos</span>
  </form>
</section>

<section id="sucess-message" *ngIf="showWarningValid">
  <p>Palavra-passe alterada com sucesso</p>
  <a class="redirect" [routerLink]="['/']">Regressar à página principal</a>
</section>
