#mini-cart-products {
  width: 100%;
  height: auto;
  max-height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &-list {
    width: 100%;
    height: auto;
    max-height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &-item {
      width: 100%;
      height: 120px;
      margin-bottom: 1rem;
      border-bottom: 1px solid #ccc;
      padding-bottom: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
    }
  }
}

#mini-cart-products-list-item-image {
  width: 80px;
  height: 100%;
}

#mini-cart-products-list-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#remove-item-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;

  i {
    font-size: 0.8rem;
    color: gray;
  }
}

#mini-cart-products-list-item-details {
  width: calc(100% - 50px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 1rem;

  * {
    margin: 0;
  }

  &-name {
    width: 100%;
    font-size: 1rem;
    color: black;
  }

  &-quantity-price {
    font-size: 0.8rem;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

#mini-cart-products-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;

  &-total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#mini-cart-products-footer-more,
#mini-cart-products-footer-checkout {
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  text-align: center;
  outline: none;
  border: none;
  transition: 0.3s;
}

#mini-cart-products-footer-more {
  background-color: white;
  border: inset 0.1rem black;
  color: black;
}

#mini-cart-products-footer-checkout {
  background-color: black;
  color: white;
}

#mini-cart-products-footer-more:hover,
#mini-cart-products-footer-checkout:hover {
  filter: brightness(0.8);
}

#log-in-screen {
  margin-top: 4rem;

  &-message {
    margin-bottom: 32rem;
  }

  &-button {
    background-color: white;
    border: inset 0.1rem black;
    color: black;
    width: 100%;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    text-align: center;
    outline: none;
    border: none;
    transition: 0.3s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

#empty-cart {
  margin-top: 4rem;

  &-message {
    margin-bottom: 32rem;
  }
}
