<mat-drawer-container id="sidenav-container" autosize>
  <mat-drawer #drawer id="sidenav" mode="side" from="right">
    <p>Auto-resizing sidenav</p>
    <div id="close-menu" (click)="drawer.toggle(); toggleOverlay()">X</div>
  </mat-drawer>
</mat-drawer-container>

<div id="navbar">
  <div id="navbar-menu">
    <div id="open-menu" (click)="drawer.toggle(); toggleOverlay()"><span></span><span></span><span></span></div>
  </div>
  <div id="navbar-logo">STELLA CLOTHES</div>
  <div id="navbar-utils">
    <div id="util-search">
      <i class="fa-solid fa-magnifying-glass"></i> Pesquisar
    </div>
    <div id="util-myaccount" *ngIf="!isLoggedIn" (click)="toggleRightSidebar(); toggleForm('login')">Iniciar Sessão</div>
    <div id="util-myaccount" *ngIf="isLoggedIn" (click)="toggleRightSidebar(); toggleForm('my-account')">A Minha Conta</div>
    <div id="util-cart" (click)="toggleRightSidebar();">
      <i class="fa-solid fa-bag-shopping"></i>
    </div>
  </div>
</div>

<app-right-sidebar (closeMenuTrigger)="closeMenuEvent()" #rightSideBar>
  <ng-container>
    <app-login class="auth-containers" *ngIf="showLogin" (redirectToRegisterEvent)="toggleForm('register')" (redirectToForgotPasswordEvent)="toggleForm('forgot-password')"></app-login>
    <app-register class="auth-containers" *ngIf="showRegister" (redirectToLoginEvent)="toggleForm('login')"></app-register>
    <app-forgot-password class="auth-containers" *ngIf="showForgotPassword" (redirectToLoginEvent)="toggleForm('login')"></app-forgot-password>
    <app-profile-navbar class="auth-containers" *ngIf="showProfileMenu && isLoggedIn"></app-profile-navbar>
  </ng-container>
</app-right-sidebar>


<div id="overlay" (click)="drawer.toggle(); toggleOverlay()" [hidden]="!isVisible"></div>
