<app-navbar></app-navbar>
<section id="home">
  <div id="first-anncmnt">
    <div id="titles">
      <p>Nova Coleção</p>
      <p>Tudo -25%</p>
    </div>
    <div id="buttons">
      <a class="redirect" [routerLink]="['/Home']">Saldos</a>
    </div>
  </div>
  <div id="second-anncmnt">
    <div id="info-promo">
      <p>Para comprares agora</p>
      <p>As 3 principais tendências da primavera</p>
      <a class="redirect" [routerLink]="['/Home']">VER TUDO</a>
    </div>
    <div id="info-background"></div>
  </div>
  <div id="categories">
    <div id="categories-container">
      <div id="categories-title">
        <p id="categories-title-frst">Across epochs and fashions.</p>
        <p id="categories-title-scnd">Eternal relaxed elegance</p>
      </div>
      <div id="categories-buttons">
        <div id="categories-buttons-frst">
          <a class="white-button" [routerLink]="['/Home']">Blusões</a>
          <a class="white-button" [routerLink]="['/Home']">Camisas</a>
          <a class="white-button" [routerLink]="['/Home']">Calças</a>
          <a class="white-button" [routerLink]="['/Home']">Malhas</a>
        </div>
        <div id="categories-buttons-scnd">
          <a class="white-button" [routerLink]="['/Home']">T-Shirts</a>
          <a class="white-button" [routerLink]="['/Home']">Polos</a>
          <a class="white-button" [routerLink]="['/Home']">Calçado</a>
          <a class="white-button" [routerLink]="['/Home']">Acessórios</a>
        </div>
      </div>
    </div>
  </div>
  <div id="contact-info">
    <div>
      <i class="fa-solid fa-truck"></i>
      <p>Entregas Gratuitas em compras superiores a 50 Euros em Portugal Continental.</p>
    </div>
    <div>
      <i class="fa-solid fa-arrows-rotate"></i>
      <p>Devoluções sem custos.</p>
      <p>Pode devolver as suas compras gratuitamente.</p>
    </div>
    <div>
      <i class="fa-solid fa-envelope"></i>
      <p>Email: loja&#64;loja.com</p>
      <p>Whatsapp: 987 654 321 (apenas texto)</p>
      <p>Dias úteis de Segunda a Sexta-feira das 9h00 às 20h00 (GMT)</p>
    </div>
  </div>
</section>
<app-footer></app-footer>
