#sidenav-right-sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: hidden;
}

#sidenav-right-sidebar {
  width: 25vw;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  padding: 1.25rem;
}

#close-menu {
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

#overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: absolute;
  background-color: rgba(159, 159, 159, 0.585);
  overflow-y: hidden;
}

::ng-deep #sidenav-right-sidebar .mat-drawer-inner-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
