<app-navbar></app-navbar>
<section id="redirect-screen" *ngIf="categoryProducts.length === 0">
  <p>Lamentamos, mas esta categora não possuí produtos</p>
  <a class="redirect" [routerLink]="['/']">Regressar à página principal</a>
</section>

<section id="category-container" *ngIf="categoryProducts">
  <p id="category-title">{{ category }}</p>
  <div id="product-container">
    <div id="product-item" *ngFor="let product of categoryProducts" [routerLink]="['/product/' + product.reference]">
      <img id="product-image" [src]="product.image" alt="">
      <div id="product-description">
        <p>{{ product.name }}</p>
        <p>{{ product.price }} €</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
