@import "../../styles/variables.scss";

.myorders {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.myorder-row {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.myorder-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.order-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.cart-button {
  padding-left: 0.5rem;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  border: none;
}

.order-products {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  overflow-x: auto;
  padding: 0;
}

.order-image {
  width: 250px;
  border: 1px solid rgb(45, 45, 45);
  padding: 0;
}

.order-products-shadow {
  width: 50px;
  height: 350px;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

.order-products-shadow:first-child {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2),
    rgba(255, 255, 255, 0)
  );
}

.order-products-shadow:last-child {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.2),
    rgba(255, 255, 255, 0)
  );
}

::-webkit-scrollbar {
  display: none;
}
