*{
    font-family: Telex;
}

.loginContainer{
    width: 300px;
    height: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.authBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formGroup{
    width: 100%;
    display: grid;
    place-items: center;
}
.formGroup input:not([type="button"]){
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid #000;
    outline: none;
}

.formGroup input[type="button"]{
    width: 100%;
    padding: 0.5rem;
    outline: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.forgotPassword{
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
    color: #000;
    cursor: pointer;
}
.redirectToLogin{
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    color: #000;
    cursor: pointer;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redirect-link:hover{
    text-decoration: underline;
}