@import "../../styles/variables.scss";

#search {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
}

#search-bar {
  width: 80%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &-close {
    cursor: pointer;
  }

  input {
    width: 100%;
    margin-right: 2rem;
    border-bottom: 1px solid;
    font-size: 0.8rem;
    padding: 0.8rem 0;
  }

  ::placeholder {
    color: #8B8B8B;
  }

  :focus{
    outline: none;
  }
}

#recommendations {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  &-title {
    width: 100%;
    font-size: 2rem;
    font-family: $font-telex;
  }

  &-products {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

#product-showcase {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-showcase {
  &-image{
    width: 90%;
    height: 100%;
  }

  &-title{
    margin-top: 0.5rem;
  }

  &-price{
    font-size: $font-graphik;
    font-weight: bold;
    margin-top: 0.5rem;
  }
}
