<section id="fpassword-container">
  <form id="fpassword-block" [formGroup]="fpasswordForm">
      <span>Recuperar Password</span>
      <input class="user-info" type="email" placeholder="utilizador@gmail.com" formControlName="email" />
      <input id="fpassword-button" type="button" value="Recuperar" (click)="validateAndRecover()" />
  </form>
  <div id="redirect-login" (click)="redirectToLogin()">
    <span id="redirect-link">Voltar ao login</span>
  </div>
  <span class="hideDisplay" [ngClass]="{'showWarningSuccess validData': showWarningValid}">E-mail enviado com sucesso</span>
  <span class="hideDisplay" [ngClass]="{'showWarningError invalidData': showWarningInvalid}">Dados inválidos</span>
</section>
