<app-navbar></app-navbar>
<section id="product" *ngIf="infoProduct">
  <div id="product-images">
    <img [src]="infoProduct.image" [alt]="infoProduct.name" />
  </div>
  <div id="product-description">
    <div id="product-description-char">
      <p id="product-description-type">{{ infoProduct.category }}</p>
      <p id="product-description-name">{{ infoProduct.name }}</p>
      <p id="product-description-price">€ {{ infoProduct.price }}</p>
    </div>
    <div id="product-sizes">
      <p>Tamanho</p>
      <select id="product-sizes-select" [(ngModel)]="selectedSize">
        <ng-container *ngFor="let product of organizedProducts">
          <option [value]="product.size"  [disabled]="product.stock <= 0">{{ product.size }} <a *ngIf="product.stock <= 0">- Esgotado</a></option>
        </ng-container>
      </select>
    </div>
    <a id="add-to-cart" (click)="addToCart()">ADICIONAR AO CARRINHO</a>
    <span class="hideDisplay" [ngClass]="{'showWarning validData': showValidWarning}">Produto adicionado ao carrinho</span>
    <span class="hideDisplay" [ngClass]="{'showWarning invalidData': showInvalidWarning}">Erro ao adicionar produto ao carrinho</span>
  </div>
</section>
<app-footer></app-footer>
